fieldset.coverShift {
    border: 1px solid #c0c0c0;
    margin: 55px 2px;
    padding: .35em .625em .75em;
}

input.shiftcoversubmit {
    width: 20%;
}

input.shiftCovTimeStart,
input.shiftCovTimeEnd {
    width: 20%;
}

input.shiftCovDate {
    width: 30%;
}

input.OrigShift,
input.shiftCov {
    width: 75%
}

#ListOfTAs {
    margin-top: 100px;
    text-align: center;
}