body,
html {
    background-color: #f2f2f2;
}

.box {
    background: #f2f2f2;
}

#questionButton {
    padding: 0%;
    margin-bottom: 15px;
    justify-content: center;
}

.box select {
    color: purple;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 20px;
    outline: none;
}

div.row.categoryModule a:hover {
    color: purple;
}


#dropdown1 {
    /* display: none; */
}



#classes {
    text-align: center;
}

.classWrapper {
    text-align: center;
}

.paginationArrow {
    color: gray;
    padding-right: 5px;
    padding-left: 5px;
}

.className {
    font-size: 2.0em;
    padding-top: 25px;
    text-align: center;
}

.categoryModule {
    background-color: white;
    width: 100%;
    color: black;
    overflow: none;
    margin-top: 50px;
}

input {
    width: 90%;
}

#modalQuestionPresent {
    width: 75%;
    height: 75%;
    background: #f2f2f2;
    opacity: 0.95;
    position: absolute;
    transform: translate(10%, 15%);
    top: 0;
}

#modalDisucssionPresent {
    width: 50%;
    height: 50%;
    background: #f2f2f2;
    opacity: 0.95;
    position: absolute;
    transform: translate(10%, 15%);
    top: 0;
}

#cancel {
    margin-right: 10px;
}



#details {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#detailsLabel {
    padding-right: 25px;
    padding-bottom: 40px;
}

.modalFormButtons {
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
}


#modal-content {}

.container {
    padding: 16px;
    width: 100%;
    height: 100%;
}

#newQuestion {
    width: 100;
    height: 50;
    align-items: center;
    text-align: center;
    padding-top: 25px;
}

#newTopic {
    width: 100;
    height: 50;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.forumPad {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    
   
}


.forumMargin {
    margin-bottom: 10px;
}


.forumTable {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.forumTable th {
    /* padding: 5px; */
    color: #808080;
    /* border: 1px solid black; */
}

div.row.forumPad {
    padding-left: 30px;
}

.forumTable td {
    padding: 5px
}

.forumTable tr {
    border: 1px solid #f2f2f2;
}

.forumTable a:hover {
    font-weight: normal;
}

h1 {
    font-size: 1.7em;
    color: #562e72;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

.categoryWrapper {
    text-align: center;
}

.vMiddle {
    display: inline-block;
    position: relative;
    margin: auto;
    vertical-align: middle;
}

.columnPad {
    margin-top: 15px;
    margin-left: 5px;
}

.paginationBar {
    padding: 15px;
}

.categoryTitle {
    color: #663399;
    text-decoration: none;
}



.categoryTitle:hover {
    color: #562e72;
    font-weight: 500;
    text-decoration: none;
}


div#modalQuestionPresent.modal {
    padding-top: 0%;
}

.submitbutton {
    padding: 0%;
} 